{% extends "layout.html" %}
{% block title %}Add an event{% endblock %}
{% block content %}
<div id="content">
	<h3>Add a new event</h3>
	<form method="post" action="{{ url_for('add_event') }}">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" name="name" placeholder="Name your event"/>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea id="text"  cols="30" rows="5" class="form-control" name="description" placeholder="A short description"></textarea>
		</div>
		<div class="form-group">
			<label for="description">Not interested after</label>
			<select name='expires'>
				{% for val in expires %}
				<option value = {{val}}>{{val|e}} {% if val == 1 %}hour{% else %} hours {% endif %}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label for="categories">Categories</label>
			<br>
			{% for cat in categories %}
				<input type="checkbox" name="categories" value="{{cat}}"/>
				{{cat|e}}<br>
			{% endfor %}
		</div>
		<input id="latbox" type="hidden" name="lat"/>
		<input id="lngbox" type="hidden" name="lng"/>
		<div class="form-group">
			<label>Please pick an approximate (20 mi) location of the activity.</label>
			<div id="map-canvas" style="width:70%; height:50%"></div>
		</div>
		{% if handle is not defined or handle == '' %}
			<p> Please <a href="{{url_for('login')}}">log in </a> with Twitter to submit a new activity </p>
			<input type="submit" class="btn btn-info" id="submit" value ="Add" disabled />
		{% else %}
			<input type="submit" class="btn btn-info" id="submit" value ="Add" />
		{% endif %}
	</form>
</div>
{% endblock %}
