{% extends "layout.html" %}
{% block title %}Add an event{% endblock %}
{% block content %}
<div id="content">
	<h3>Add a new event</h3>
	<form method="post" action="{{ url_for('add_event') }}">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" name="name" placeholder="Name your event"/>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea cols="40" rows="5" class="form-control" name="description" placeholder="A short description"></textarea>
		</div>
		<input type="submit" class="btn btn-info" value ="Add" />
	</form>
</div>
{% endblock %}
